dist/
node_modules/
locals/
.idea
.vscode
lib/
!lib/src/wireguard_handle.dll
!lib/src/wireguard.*
!lib/src/wireguard-amd64-0.5.3.msi
!lib/wireguard_handle.cpp

*.pdb


auto-imports.d.ts
components.d.ts
package-lock.json